<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/adm.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <!-- CSS de DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <title>Administración</title>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="../assets/js/scriptAdm.js"></script>
</head>
<body>
    <header>
        <div class="left-info">
            <div class="direccion">Av. Nueva Zelandia N° 631 - Juliaca</div>
            <div class="telefono">+123 456 789</div>
        </div>
        <div class="right-info">
            <% if (login) { %>
                <a href="logout" class="btn a-logout">Salir</a>
            <% } else { %>
                <a href="login" class="btn a-login">Iniciar Sesión</a>
            <% } %>
        </div>
    </header>
    <main>
        <section class="input-search">
            <div class="search-info">
                <p>Administrador</p>
                <form id="searchForm" action="/searchListAdm" method="post">
                    <input type="text" id="searchInput" placeholder="Buscar estudiante...">
                </form>
                <div class="crud-info">
                    <button class="btn pulse-effect" type="button" onclick="showAddDialog()">Agregar</button>
                    <button class="btn pulse-effect" type="button" onclick="prepareEdit()">Modificar</button>
                    <button class="btn pulse-effect" type="button" id="deleteButton" onclick="confirmDelete()">Eliminar</button>
                </div>
            </div>
            
            <div class="info-list">
                <div class="table-container">
                    <table id="resultsTable" class="display">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Código</th>
                                <th>DNI</th>
                                <th>Nombre y Apellidos</th>
                                <th>Estado</th>
                                <th>Carrera</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% results.forEach((user) => { %>
                                <tr>
                                    <td><input class="check" type="radio" name="selectedStudent" value="<%= user.codigoestudiante %>"></td>
                                    <td><%= user.codigoestudiante %></td>
                                    <td><%= user.dni %></td>
                                    <td><%= user.nombre %></td>
                                    <td><%= user.est_beca %></td>
                                    <td><%= user.nom_carrera %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="info-start">
            <button class="btn pulse-effect" onclick="openMenuModal()">Visualizar Menu</button>
            <button class="btn pulse-effect" onclick="openModalFecha()">Asistencia Fecha</button>
            <button class="btn pulse-effect" id="importarRelacionBtn">Importar Relación</button> <!-- El Modal para Agregar Estudiante -->
            <input type="file" id="fileInput" style="display: none;" />
            <button class="btn pulse-effect" onclick="openModal()">Reporte Quejas</button>
            <button class="btn pulse-effect" id="exportarRelacionBtn">Exportar Relacion</button>
            
        </section>
    </main>

    <!-- Modal para seleccionar la fecha -->
    <div id="modalFecha" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModalFecha()">&times;</span>
            <h2>Seleccionar Fecha de Asistencia</h2>
            <form id="exportAttendanceForm">
                <label for="fechaAsistencia">Seleccionar fecha:</label>
                <input type="date" id="fechaAsistencia" name="fechaAsistencia" required><br><br>
                <button type="button" onclick="exportarAsistencia()">Exportar Asistencia</button>
            </form>
        </div>
    </div>
    
    <!-- El Modal para Agregar Estudiante -->
    <div id="addModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Agregar Estudiante</h2>
            <form id="addStudentForm">
                <label for="codigoestudiante">Código Estudiante:</label>
                <input type="text" id="codigoestudiante" name="codigoestudiante" required><br><br>
                <label for="dni">DNI:</label>
                <input type="text" id="dni" name="dni" required><br><br>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required><br><br>
                <label for="ape_paterno">Apellido Paterno:</label>
                <input type="text" id="ape_paterno" name="ape_paterno" required><br><br>
                <label for="ape_materno">Apellido Materno:</label>
                <input type="text" id="ape_materno" name="ape_materno" required><br><br>
                <label for="est_beca">Estado Beca:</label>
                <select id="est_beca" name="est_beca" required>
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select><br><br>
                <label for="tip_beca">Tipo de Beca:</label>
                <select id="tip_beca" name="tip_beca" required>
                    <option value="Accesitario">Accesitario</option>
                    <option value="Becado">Becado</option>
                </select><br><br>
                <label for="idCarrera">Carrera:</label>
                <select id="idCarrera" name="idCarrera" required>
                    <option value="1">Ingeniería de Software</option>
                    <option value="2">Ingeniería Civil</option>
                    <option value="3">Ingeniería Mecánica</option>
                    <option value="4">Ingeniería Electrónica</option>
                    <option value="5">Ingeniería Industrial</option>
                    <option value="6">Ingeniería Química</option>
                    <option value="7">Ingeniería Eléctrica</option>
                    <option value="8">Ingeniería Ambiental</option>
                    <option value="9">Ingeniería de Sistemas</option>
                    <option value="10">Ingeniería Biomédica</option>
                </select><br><br>
                <button type="button" onclick="submitAddStudentForm()">Agregar</button>
            </form>
        </div>
    </div>
    <!-- El Modal para Modificar Estudiante -->
    <div id="modifyModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Modificar Estudiante</h2>
            <form id="modifyStudentForm">
                <input type="hidden" id="modifyCodigoEstudiante" name="codigoestudiante">
                <label for="modifyDni">DNI:</label>
                <input type="text" id="modifyDni" name="dni" required><br><br>
                <label for="modifyNombre">Nombre:</label>
                <input type="text" id="modifyNombre" name="nombre" required><br><br>
                <label for="modifyApePaterno">Apellido Paterno:</label>
                <input type="text" id="modifyApePaterno" name="ape_paterno" required><br><br>
                <label for="modifyApeMaterno">Apellido Materno:</label>
                <input type="text" id="modifyApeMaterno" name="ape_materno" required><br><br>
                <label for="modifyEstBeca">Estado Beca:</label>
                <select id="modifyEstBeca" name="est_beca" required>
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select><br><br>
                <label for="modifyTipBeca">Tipo de Beca:</label>
                <select id="modifyTipBeca" name="tip_beca" required>
                    <option value="Accesitario">Accesitario</option>
                    <option value="Becado">Becado</option>
                </select><br><br>
                <label for="modifyIdCarrera">Carrera:</label>
                <select id="modifyIdCarrera" name="idCarrera" required>
                    <option value="1">Ingeniería de Software</option>
                    <option value="2">Ingeniería Civil</option>
                    <option value="3">Ingeniería Mecánica</option>
                    <option value="4">Ingeniería Electrónica</option>
                    <option value="5">Ingeniería Industrial</option>
                    <option value="6">Ingeniería Química</option>
                    <option value="7">Ingeniería Eléctrica</option>
                    <option value="8">Ingeniería Ambiental</option>
                    <option value="9">Ingeniería de Sistemas</option>
                    <option value="10">Ingeniería Biomédica</option>
                </select><br><br>
                <button type="button" onclick="submitModifyStudentForm()">Modificar</button>
            </form>
        </div>
    </div>

    <!-- Modal para visualizar el menú -->
    <div id="menuModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeMenuModal()">&times;</span>
            <h2>Menú Semanal</h2>
            <hr>
            <table border="1" style="width:100%; border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Desayuno</th>
                        <th>Almuerzo</th>
                    </tr>
                </thead>
                <tbody id="menuTableBody">
                    <!-- Las filas del menú se llenarán con JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <div id="surveysModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Encuestas</h2>
            <span class="close" onclick="closeModal()">&times;</span>
          </div>
          <div class="modal-body">
            <ul id="surveyList" class="survey-list">
              <!-- Las encuestas se insertarán aquí mediante JavaScript -->
            </ul>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>

</body>
</html>
