<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/adm.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <title>Administracion</title>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
</head>
<body>
    <header>
        <div class="left-info">
            <div class="direccion">Calle Falsa 123, Ciudad, País</div>
            <div class="telefono">+123 456 789</div>
        </div>
        <div class="right-info">
            <% if (login) { %>
                <a href="logout" class="a-logout">Salir</a>
            <% } else { %>
                <a href="login" class="a-login">Iniciar Sesión</a>
            <% } %>
        </div>
    </header>
    <main>
        <section class="input-search">
            <div class="search-info">
                <p>Administrador</p>
                <form id="searchForm" action="/searchListAdm" method="post">
                    <input type="text" name="searchTerm" id="searchTerm" placeholder="Código/DNI">
                    <button type="submit">BUSCAR</button>
                </form>
            </div>
            <div class="crud-info">
                <form id="crudForm" method="post">
                    <button type="button">Agregar</button>
                    <button type="button">Modificar</button>
                    <button type="submit">Eliminar</button>
                </form>
            </div>
            <div class="info-list">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Código</th>
                                <th>DNI</th>
                                <th>Nombre y Apellidos</th>
                                <th>Estado</th>
                                <th>Carrera</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% results.forEach((user) => { %>
                                <tr>
                                    <td class="check"><input type="radio" name="selectedStudent" value="<%= user.codigoestudiante %>"></td>
                                    <td><%= user.codigoestudiante %></td>
                                    <td><%= user.dni %></td>
                                    <td><%= user.nombre %></td>
                                    <td><%= user.est_beca %></td>
                                    <td><%= user.nom_carrera %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="info-start">
            <h2>48 / 120</h2>
            <p>El reporte es para descargar el reporte de estudiantes que ingresaron en el desayuno o almuerzo</p>
            <form action="/generateReport" method="get">
                <button type="submit">Generar Reporte</button>
            </form>

        </section>


    <script>

        <% if (typeof alertMessage !== 'undefined') { %>
            const alertMessage = '<%= alertMessage %>';
            const alertType = '<%= alertType %>';
            const redirect = '<%= redirect %>';
            const redirectUrl = '<%= redirectUrl %>';
            const redirectDelay = '<%= redirectDelay %>';

            if (alertMessage) {
                if (alertType === 'success') {
                    alertify.success(alertMessage);
                } else if (alertType === 'error') {
                    alertify.error(alertMessage);
                } else {
                    alertify.message(alertMessage);
                }

                if (redirect) {
                    setTimeout(() => {
                        window.location.href = redirectUrl;
                    }, redirectDelay);
                }
            }
        <% } %>
    </script>
</body>
</html>
