<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutricionista</title>
    <!-- CSS de DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="../assets/css/nutri.css">
    <script src="../assets/js/scriptNutri.js"></script>
</head>
<body>
    <header>
        <div class="left-info">
            <div class="direccion">Av. Nueva Zelandia N° 631 - Juliaca</div>
            <div class="telefono">+123 456 789</div>
        </div>
        <div class="right-info">
            <% if (login) { %>
                <a href="logout" class="btn a-logout">Salir</a>
            <% } else { %>
                <a href="login" class="btn a-login">Iniciar Sesión</a>
            <% } %>
        </div>
    </header>
    <main>
        <section class="input-search">
            <div id="inventario" class="info-list" style="display: none;">
                <div class="table-container">
                    <table id="resultsTable" class="display">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Fecha Caducidad</th>
                                <th>Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% results.forEach((user) => { %>
                                <tr>
                                    <td><%= user.idInventario %></td>
                                    <td><%= user.nombre %></td>
                                    <td><%= user.cant_disponible %></td>
                                    <td><%= user.fecha_caducidad %></td>
                                    <td><%= user.nom_categoria %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            <section id="ocultar" style="display: block;">
                <h2>¡Bienvenido! Aqui puedes emepzar a planificar y organizar tus consultas y planes de alimentacion </h2>
                <div class="img-nutr">
                    <img class="nutri-1" src="../assets/img/font-img/imgf-9.jpg" alt="">
                    <div class="img-nutr-display">
                        <img class="two" src="../assets/img/font-img/imgf-10.jpg" alt="">
                        <img class="five" src="../assets/img/font-img/imgf-11.jpg" alt="">
                        <img class="six" src="../assets/img/font-img/imgf-12.jpg" alt="">
                    </div>
                </div>    
            </section>
            
        </section>
        <section class="info-start">
            <p>Nutricionista</p>
            <button class="btn pulse-effect" onclick="openMenuModal()">Menu</button>
            <button class="btn pulse-effect btn-inventario" onclick="toggleInventario()">Inventario de Productos</button>
            <button class="btn pulse-effect" onclick="openModalEnc()">Reporte Quejas</button>
            
        </section>

        <!-- Modal para visualizar el menú -->
<!-- Modal para visualizar el menú -->
<div id="menuModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeMenuModal()">&times;</span>
        <h2>Menú Semanal</h2>
        <hr>
        <div class="crud-info">
            <button class="btn pulse-effect" type="button" onclick="showAddDialog()">Agregar</button>
            <button class="btn pulse-effect" type="button" onclick="showEditDialog()">Modificar</button>
            <button class="btn pulse-effect" type="button" id="deleteButton" onclick="confirmDelete()">Eliminar</button>
        </div>
        <table id="menuTable" border="1" style="width:100%; border-collapse:collapse;">
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Desayuno</th>
                    <th>ID Menú Desayuno</th>
                    <th>ID Comida Desayuno</th>
                    <th>Almuerzo</th>
                    <th>ID Menú Almuerzo</th>
                    <th>ID Comida Almuerzo</th>
                </tr>
            </thead>
            <tbody id="menuTableBody">
                <!-- Las filas del menú se llenarán con JavaScript -->
            </tbody>
        </table>
        <div class="navigation-buttons">
            <button id="nextWeekButton" class="btn pulse-effect" type="button">
                <i class="fa fa-arrow-right"></i> Siguiente Semana
            </button>
        </div>
    </div>
</div>

        <div id="surveysModal" class="modal">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Encuestas</h2>
                <span class="close" onclick="closeModalEnc()">&times;</span>
              </div>
              <div class="modal-body">
                <ul id="surveyList" class="survey-list">
                  <!-- Las encuestas se insertarán aquí mediante JavaScript -->
                </ul>
              </div>
              <div class="modal-footer">
              </div>
            </div>
        </div>
        <!-- Modal para Agregar/Modificar Menú y Comida -->
        <div id="addMenuAndFoodModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2 id="modalTitle">Agregar Menú y Comida</h2>
                <form id="menuAndFoodForm" novalidate>
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" required><br>
                    
                    <label for="menuType">Tipo de Menú:</label>
                    <select id="menuType" name="menuType" required>
                        <option value="">Selecciona un tipo</option>
                        <option value="Desayuno">Desayuno</option>
                        <option value="Almuerzo">Almuerzo</option>
                    </select><br>
                    
                    <label for="comidaNombre">Nombre de la Comida:</label>
                    <input type="text" id="comidaNombre" name="comidaNombre" required><br>
                    
                    <label for="infoNutricional">Información Nutricional:</label>
                    <textarea id="infoNutricional" name="infoNutricional" required></textarea><br>
                    
                    <label for="ingredientes">Ingredientes:</label>
                    <textarea id="ingredientes" name="ingredientes" required></textarea><br>
                    
                    <button type="button" id="submitButton" onclick="submitMenuAndFoodForm()">Agregar</button>
                    <button type="button" id="updateButton" style="display:none;" onclick="updateMenuAndFood()">Modificar</button>
                </form>
            </div>
        </div>
    </main>
    
</body>
</html>
