<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/register.css">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="left-info">
            <div class="direccion">Calle Falsa 123, Ciudad, País</div>
            <div class=" telefono">+123 456 789</div>
        </div>
        <div class="right-info">
            <button>
                <% if (login) { %>                                        
                    <a href="logout" class="a-logout">Salir</a>
                <%} else { %>
                    <h1><strong><%= name %></strong></h1>   
                    <a href="login" class="a-login">Iniciar Sesion</a>
                <% } %>
            </button>
        </div>
    </header>
    <Main>
        <section class="input-search">
            <div class="search-info">
                <p>Estudiantes</p>
                <input type="text" placeholder="Codigo/DNI">
                <button>BUSCAR</button>
            </div>
            <div class="info-list">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Codigo</th>
                            <th>DNI</th>
                            <th>Nombre y Apellidos</th>
                            <th>Estado</th>
                            <th>Tipo Beca</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <% results.forEach((user) => { %>
                            <tr>
                                <td></td>
                                <td><%= user.codigoestudiante %></td>
                                <td><%= user.dni %></td>
                                <td><%= user.nombre %></td>
                                <td><%= user.est_beca %></td>
                                <td><%= user.tip_beca %></td>
                            </tr>
                            <% }) %>
                        
                    </tbody>
                </table>
            </div>
            <div>
                <button>Registrar</button>
            </div>
        </section>
        <section class="info-start">
            <section>
            <button>INICIAR REGISTRO</button>
            </section>
        </section>
    </Main>
</body>
</html>